In [ ]:
#creating tuple
mytuple=("apple","orange","banana","cherry")
print(mytuple)

('apple', 'orange', 'banana', 'cherry')

In [ ]:
#Tuple length
mytuple=("apple","orange","banana","cherry")
print(len(mytuple))

4

In [ ]:
#checking type
mytuple=("apple","orange","banana","cherry")
print(type(mytuple))

<class 'tuple'>

In [ ]:
#tuple datatype
mytuple=("abc",34,True,40,"male")
print(mytuple)
print(type(mytuple))

('abc', 34, True, 40, 'male')
<class 'tuple'>

In [ ]:
#format in tuple
tuple=(2,"abc",34,True,40,"male")
print(tuple)
print("Your name is {} Your age is {},".format(tuple[1],tuple[2]))

(2, 'abc', 34, True, 40, 'male')
Your name is abc Your age is 34,

In [ ]:
#format in tuple using {} with value
tuple1=(2,"abc",34,True,43,"male")
print("Your name is {0} Your age is {1}".format(tuple1[1],tuple1[2]))

Your name is abc Your age is 34

In [ ]:
#tuple constructor using keyword
tuple1=[2,"abc",34,True,40,"male"]
tuple1=tuple(tuple1)
print(type(tuple1))

<class 'tuple'>

In [ ]:
#Access tuple
mytuple=("apple","orange")
print(mytuple[1])

orange

In [ ]:
#Indexing (positive and negative)
mytuple=("apple","orange","banana","cherry")
print(mytuple[1:3])
print(mytuple[2:4])
print(mytuple[:-3])
print(mytuple[-2:])

('orange', 'banana')
('banana', 'cherry')
('apple',)
('banana', 'cherry')

In [1]:
#check if item exists in tuple
mytuple=("apple","orange","banana","cherry")
if 'orange' in mytuple:
  print('Yes its there')
else:
  print("No its not there")

Yes its there

In [3]:
#check if item not exists in tuple

mytuple=("apple","orange","banana","cherry")
if '' in mytuple:
  print('Yes its there')
else:
  print("No its not there")

No its not there

In [9]:
#Change tuple value using list in tuple
mytuple=("apple","orange","banana","cherry")
mylist=list(mytuple)
mylist[2]="grapes"
tuple2=tuple(mylist)
print(tuple2)

('apple', 'orange', 'grapes', 'cherry')

In [23]:
#Add single item using append in tuple
thistuple=("apple","orange","banana","cherry")
y=list(mytuple)
y.append("grapes")
mytuple=tuple(y)
print(mytuple)

('apple', 'banana', 'cherry', 'grapes', 'grapes', 'grapes', 'grapes', 'grapes')

In [16]:
#Adding items using operators
thistuple=("apple","orange","banana","cherry")
y=("grapes",)         #must use comma(,) when adding single in tuple
thistuple+=y
print(thistuple)

('apple', 'orange', 'banana', 'cherry', 'grapes')

In [18]:
#remove items in tuple
thistuple=("apple","orange","banana","cherry")
y=list(mytuple)
y.remove("orange")
mytuple=tuple(y)
print(mytuple)

('apple', 'banana', 'cherry')

In [25]:
#del item in tuple
thistuple=("apple","orange","banana","cherry")
print(thistuple)
del thistuple
#print(thistuple)

('apple', 'orange', 'banana', 'cherry')

In [26]:
#del item in tuple
thistuple=("apple","orange","banana","cherry")
print(thistuple)
del thistuple
print(thistuple)

('apple', 'orange', 'banana', 'cherry')

NameError: name 'thistuple' is not defined

In [32]:
#unpacking tuple without using loop
fruits=("apple","orange","banana") #must be equal items here
(red,orange,yellow)=fruits         #must be equal items here
print(red)
print(orange)
print(yellow)

apple
orange
banana

In [33]:
#Using Asterisk in tuple
fruits=("apple","orange","banana") #must be equal items here
(red,orange,*yellow)=fruits         #must be equal items here
print(red)
print(orange)
print(yellow)

apple
orange
['banana']

In [41]:
#Using Asterisk in tuple
fruits=("apple","orange","banana","grapes","cherry") #we can use more items here
(red,*tropic,red)=fruits
print(red)
print(tropic)
print(yellow)

cherry
['orange', 'banana', 'grapes']
cherry

In [40]:
#using for loop in tuple
fruits=("apple","orange","banana")
for x in fruits:
  print(x)

apple
orange
banana

In [46]:
#using for loop in tuple with index numbers
fruits=("apple","orange","banana")
for x in range(len(fruits)):
  print(fruits[x])
print(len(fruits))

apple
orange
banana
3

In [47]:
#using while loop in tuple
fruits=("apple","orange","banana")
x=0
while x<len(fruits):
  print(fruits[x])
  x=x+1

apple
orange
banana

In [50]:
#Joining two tuples
tuple1=("apple","orange","banana")
tuple2=(1,2,3)
tuple3=tuple1+tuple2
print(tuple3)

('apple', 'orange', 'banana', 1, 2, 3)

In [53]:
#Multiple the fruits by 2
fruits=("apple","orange","banana")
mytuple=fruits*3
print(mytuple)

('apple', 'orange', 'banana', 'apple', 'orange', 'banana', 'apple', 'orange', 'banana')